<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutomaticGraphLayout" version="1.1.7" targetFramework="net472" />
  <package id="AutomaticGraphLayout.Drawing" version="1.1.7" targetFramework="net472" />
  <package id="AutomaticGraphLayout.GraphViewerGDI" version="1.1.7" targetFramework="net472" />
  <package id="BrotliSharpLib" version="0.3.3" targetFramework="net472" />
  <package id="CodegenCS" version="1.0.7" targetFramework="net472" />
  <package id="EasyHook" version="2.7.7097" targetFramework="net472" />
  <package id="FCTB" version="2.16.24" targetFramework="net472" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Win32.Registry.AccessControl" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Win32.SystemEvents" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Windows.Compatibility" version="6.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="Newtonsoft.Json.Schema" version="3.0.14" targetFramework="net472" />
  <package id="Portable.BouncyCastle" version="1.8.6.7" targetFramework="net472" />
  <package id="PostSharp" version="6.6.7" targetFramework="net472" />
  <package id="PostSharp.Patterns.Aggregation" version="6.6.7" targetFramework="net472" />
  <package id="PostSharp.Patterns.Aggregation.Redist" version="6.6.7" targetFramework="net472" />
  <package id="PostSharp.Patterns.Common" version="6.6.7" targetFramework="net472" />
  <package id="PostSharp.Patterns.Common.Redist" version="6.6.7" targetFramework="net472" />
  <package id="PostSharp.Patterns.Model" version="6.6.7" targetFramework="net472" />
  <package id="PostSharp.Patterns.Model.Redist" version="6.6.7" targetFramework="net472" />
  <package id="PostSharp.Redist" version="6.6.7" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.CodeDom" version="6.0.0" targetFramework="net472" />
  <package id="System.ComponentModel.Composition" version="6.0.0" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="6.0.0" targetFramework="net472" />
  <package id="System.Data.DataSetExtensions" version="4.5.0" targetFramework="net472" />
  <package id="System.Data.Odbc" version="6.0.0" targetFramework="net472" />
  <package id="System.Data.OleDb" version="6.0.0" targetFramework="net472" />
  <package id="System.Data.SqlClient" version="4.8.3" targetFramework="net472" />
  <package id="System.Diagnostics.EventLog" version="6.0.0" targetFramework="net472" />
  <package id="System.Diagnostics.PerformanceCounter" version="6.0.0" targetFramework="net472" />
  <package id="System.DirectoryServices" version="6.0.0" targetFramework="net472" />
  <package id="System.DirectoryServices.AccountManagement" version="6.0.0" targetFramework="net472" />
  <package id="System.DirectoryServices.Protocols" version="6.0.0" targetFramework="net472" />
  <package id="System.Drawing.Common" version="6.0.0" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.FileSystem.AccessControl" version="5.0.0" targetFramework="net472" />
  <package id="System.IO.Packaging" version="6.0.0" targetFramework="net472" />
  <package id="System.IO.Pipes.AccessControl" version="5.0.0" targetFramework="net472" />
  <package id="System.IO.Ports" version="6.0.0" targetFramework="net472" />
  <package id="System.Management" version="6.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reflection.Context" version="6.0.0" targetFramework="net472" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net472" />
  <package id="System.Reflection.Emit.ILGeneration" version="4.7.0" targetFramework="net472" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.Caching" version="6.0.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net472" />
  <package id="System.Security.Cryptography.Cng" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Pkcs" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.ProtectedData" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Xml" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Permissions" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="System.ServiceModel.Duplex" version="4.9.0" targetFramework="net472" />
  <package id="System.ServiceModel.Http" version="4.9.0" targetFramework="net472" />
  <package id="System.ServiceModel.NetTcp" version="4.9.0" targetFramework="net472" />
  <package id="System.ServiceModel.Primitives" version="4.9.0" targetFramework="net472" />
  <package id="System.ServiceModel.Security" version="4.9.0" targetFramework="net472" />
  <package id="System.ServiceModel.Syndication" version="6.0.0" targetFramework="net472" />
  <package id="System.ServiceProcess.ServiceController" version="6.0.0" targetFramework="net472" />
  <package id="System.Speech" version="6.0.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="6.0.0" targetFramework="net472" />
  <package id="System.Threading.AccessControl" version="6.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.Web.Services.Description" version="4.9.0" targetFramework="net472" />
  <package id="Titanium.Web.Proxy" version="3.1.1301" targetFramework="net472" />
</packages>